@import '../core/Reset.scss';
@import '../core/Variables.scss';

.formContainer {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  @include medium {
    margin-bottom: 50px;
  }

  &__wrapper {
    width: 50%;
    text-align: right;
    border-style: none;
  }
}
/* .logo {
  width: 600px;
  @include medium {
    width: 300px;
  }

  @include small {
    width: 150px;
  }
} */
.copy {
  font-weight: normal;
  font-size: 16px;
  color: $brandColor-4;
  @include medium {
    font-size: 12px;
  }
}
