@import '../core/Variables.scss';
@import '../core/Reset.scss';

.form {
  margin-top: 30px;

  &__input {
    width: 250px;
    height: 60px;
    background: transparent;
    color: $brandColor-1;
    font-family: $searchFont;
    font-weight: bold;
    border: 2px $brandColor-3 solid;
    border-radius: 10px;
    background-repeat: no-repeat;
    padding-left: 20px;

    @media all and (max-width: $displayM) {
      width: 200px;
      height: 50px;
      padding-left: 10px;
    }

    &::placeholder {
      text-align: center;
      padding-right: 30px;
      color: $brandColor-3;
      font-size: 20px;

      @media all and (max-width: $displayM) {
        padding-right: 25px;
        font-size: $defaultFontSize;
      }
    }
    &:focus {
      background-color: rgba(28, 129, 163, 0.6);
      font-size: 18px;

      @media all and (max-width: $displayM) {
        font-size: $defaultFontSize;
      }
    }
  }
}
.iconInput {
  margin-left: 30px;
  background-color: $brandColor-1;
}
