@import '../core/Variables.scss';
@import '../core/Reset.scss';

.form {
  margin: rem(30) rem(30) 0 0;

  &__input {
    width: rem(250);
    height: rem(60);
    background: transparent;
    color: $brandColor-4;
    border: rem(2) $brandColor-3 solid;
    border-radius: rem(10);
    font-size: rem(18);
    background-repeat: no-repeat;
    padding-left: rem(20);
    margin: rem(10) 0 rem(10) rem(10);
    @include medium {
      width: rem(200);
      height: rem(50);
      padding-left: rem(10);
    }

    &::placeholder {
      text-align: center;
      padding-right: rem(30);
      color: $brandColor-3;
      font-size: rem(18);

      @include medium {
        padding-right: rem(25);
        font-size: rem(14);
      }
    }
    &:focus {
      background-color: rgba(28, 129, 163, 0.6);
      font-size: rem(20);
    }
  }
}
.iconInput {
  margin-left: rem(30);
  background-color: $brandColor-1;
  @include small {
    margin: rem(20) 0;
  }
}
