@import '../core/Variables.scss';
@import '../core/Reset.scss';
.specie__title {
  font-size: 20px;
  margin: 0 0 20px 20px;
  color: $brandColor-4;
  font-weight: bold;
}
.specie__input {
  width: 130px;
  height: 35px;
  font-size: 20px;
  color: $brandColor-1;
  font-weight: bold;
  border: none;
  margin-left: 10px;
  border: 2px solid $brandColor-3;
  border-radius: 15px;
  padding-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  &:focus {
    border: none;
  }
  &:active {
    border: none;
  }
}
