@import '../core/Variables.scss';
.specie__title {
  font-size: rem(20);
  margin: 0 0 rem(20) rem(20);
  color: $brandColor-4;
  font-weight: bold;
}
.specie__input {
  width: rem(130);
  height: rem(35);
  font-size: rem(20);
  color: $brandColor-1;
  font-weight: bold;
  border: none;
  margin-left: rem(10);
  border: rem(2) solid $brandColor-3;
  border-radius: rem(10);
  padding-left: rem(10);
  margin-top: rem(10);
  cursor: pointer;
  &:focus {
    border: none;
  }
  &:active {
    border: none;
  }
}
