@import '../core/Variables.scss';

.app__filterSection {
  grid-area: filter;
}

.formContainer {
  width: 100%;
  display: flex;
  margin-bottom: rem(20);
  @include large {
    margin-bottom: rem(70);
  }

  @include medium {
    margin-bottom: rem(60);
  }

  &__wrapper {
    width: 50%;
    text-align: right;
    border-style: none;
  }
  @include small {
    padding-left: 10vw;
  }
}
