@import './core/Variables.scss';
@import './core/Reset.scss';

.app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 400px 1fr;
  grid-template-areas: 'header' 'main';
  text-align: center;

  @include medium {
    grid-template-rows: 350px 1fr;
  }

  @include small {
    grid-template-rows: 250px 1fr;
  }

  &__header {
    grid-area: header;

    &__main {
      grid-area: main;
      width: 90%;
      margin: auto;
    }
  }
}
.copy {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 16px;
  color: $brandColor-4;
  @include medium {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
