@import './core/Variables.scss';

.app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: rem(280) 1fr;
  grid-template-areas: 'header' 'filter' 'main';
  text-align: center;

  @include medium {
    grid-template-rows: rem(180) 1fr;
  }
  @include small {
    grid-template-rows: rem(150) 1fr;
  }
  &__main {
    grid-area: main;
    width: 90%;
    margin: auto;
  }
}
