@import './variables.scss';

.app {
  display: grid;
  grid-template-rows: 400px 1fr;
  grid-template-areas: 'header' 'main';
  text-align: center;

  @media all and (max-width: $displayM) {
    grid-template-rows: 350px 1fr;
  }

  @media all and (max-width: $displayS) {
    grid-template-rows: 250px 1fr;
  }

  &__header {
    grid-area: header;

    &-logo {
      @media all and (max-width: $displayM) {
        width: 90%;
      }

      @media all and (max-width: $displayS) {
        width: 85%;
      }
    }
  }

  &__main {
    grid-area: main;
    width: 90vw;
    margin: auto;
  }
}
