@import './core/Variables.scss';

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn {
    width: rem(180);
    height: rem(40);
    border-radius: rem(15);
    background-color: $brandColor-1;
    border: rem(2) solid $brandColor-4;
    color: $brandColor-4;
    font-size: rem(16);
    cursor: pointer;
    margin-bottom: rem(20);
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }

    @include medium {
      width: rem(120);
      height: rem(25);
      font-size: rem(10);
    }
  }
}
.logo {
  width: rem(600);
  @include medium {
    width: rem(300);
  }

  @include small {
    width: rem(150);
  }
}
