@import './core/Variables.scss';

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn {
    width: 180px;
    height: 40px;
    border-radius: 15px;
    background-color: $brandColor-1;
    border: rem(2) solid $brandColor-4;
    color: $brandColor-4;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }

    @include medium {
      width: 120px;
      height: 25px;
      font-size: 10px;
    }
  }
}
.logo {
  width: 600px;
  @include medium {
    width: 300px;
  }

  @include small {
    width: 150px;
  }
}
