body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url('../images/milkyWay.jpeg') center no-repeat;
  background-size: cover;
}
