body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url('../images/milkyWay.jpeg') center no-repeat;
  background-size: cover;
  /*   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}
