// brand colors
$brand-color-1: #88d962;
$brand-color-2: #1c81a3;
$brand-color-3: #25b78c;
$brand-color-4: #a8e387;
$brand-color-5: #d1ba4f;
$paragraph-color: black;
$icon-color: #fff;

// fonts
$textFont: 'Orbitron', sans-serif;
$searchFont: 'Roboto', sans-serif;
// font size
$defaultFontSize: 16px;

// display
$displayM: 768px;
$displayS: 480px;
