@import '../core/Variables.scss';

.link {
  text-decoration: none;
}

.card {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: rem(190);
  grid-template-rows: rem(85) rem(215);
  grid-template-areas: 'image' 'text';
  border-radius: rem(25);
  background-color: rgb(49, 209, 214);
  box-shadow: rem(5) rem(5) rem(15) rgba(163, 228, 240, 0.5);
  text-align: center;
  border: rem(3) solid $brandColor-1;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    background-color: rgb(241, 165, 241);
  }

  @include medium {
    grid-template-columns: rem(140);
    grid-template-rows: rem(80) rem(145);
  }

  @include small {
    grid-template-columns: rem(150);
    grid-template-rows: rem(90) rem(130);
  }

  &__container-img {
    grid-area: image;
  }

  &__img {
    width: rem(195);
    border-top-left-radius: rem(25);
    border-top-right-radius: rem(25);

    @include medium {
      width: rem(145);
    }
  }

  &__text {
    grid-area: text;
    justify-content: flex-end;
    border-bottom-left-radius: rem(25);
    border-bottom-right-radius: rem(25);

    &-title {
      margin: rem(65) rem(15) rem(23) rem(15);
      color: $brandColor-4;
      padding: rem(3) 0 rem(5) 0;
      background-color: rgba(22, 148, 187, 0.5);
      border-radius: rem(10);
      @include medium {
        margin: rem(30) rem(15) rem(20) rem(15);
        font-size: 14px;
      }

      @include small {
        font-size: rem(13);
      }
    }

    &-paragraph1 {
      padding-bottom: rem(3);
      font-weight: rem(500);
      color: $paragraphColor;

      @include medium {
        font-size: rem(13);
      }
    }
    &-paragraph2 {
      font-weight: 500;
      color: $paragraphColor;
      font-size: rem(14);

      @include medium {
        font-size: rem(10);
      }
    }
    &-paragraph3 {
      margin-left: rem(5);
      font-weight: 500;
      color: $paragraphColor;
      font-size: rem(20);
      color: rebeccapurple;
      @include medium {
        font-size: rem(14);
      }
    }
  }
}
