@import '../core/variables.scss';

.charactersList {
  display: grid;
  width: 90%;
  margin-left: auto;
  margin-bottom: rem(30);
  grid-template-columns: repeat(auto-fill, rem(200));
  grid-gap: rem(50);

  @include medium {
    grid-template-columns: repeat(auto-fill, rem(150));
    grid-gap: rem(40);
    margin-bottom: rem(50);
  }
}
