@import '../core/variables.scss';

.charactersList {
  display: grid;
  width: 90%;
  margin-left: auto;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 50px;

  @include medium {
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 40px;
    margin-bottom: 50px;
  }
}
