@import '../core/variables.scss';
@import '../core/Reset.scss';

.charactersList {
  display: grid;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 50px;

  @include medium {
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 40px;
  }
}
