@import '../core/Variables.scss';

.modal {
  width: 100%;
  height: 100vh;
  background: url('../../images/saturno.jpg') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;

  &__dialog {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    padding: rem(16);
    border-radius: 40px;
    border: solid 5px rebeccapurple;
    background-color: $brandColor-1;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include medium {
      width: rem(485);
      height: rem(270);
      padding: rem(10);
    }
  }

  &__header {
    align-self: flex-start;
  }

  &__img--error {
    width: 200px;
    padding-right: 10px;
    @include medium {
      width: rem(150);
    }
  }

  &__img--src {
    width: 300px;
    padding-right: 10px;
    border-radius: 50%;
    margin-left: rem(15);
    box-shadow: 0 0 70px 0 rgba(252, 252, 252, 0.75);
    @include medium {
      width: rem(200);
    }
  }

  &__text {
    padding-left: 20px;
    text-align: left;
    font-weight: 500;
    color: $paragraphColor;
    @include medium {
      font-size: rem(14);
    }
  }
  &__text--error {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: $brandColor-2;
    @include medium {
      font-size: rem(24);
    }
  }

  &__text--property {
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.icon {
  padding: 10px;
  width: 45px;
  height: 45px;
  text-align: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: $brandColor-4;
}
.iconDetail,
.iconError {
  background-color: $brandColor-2;
}
.iconDetail {
  margin-top: 250px;
  @include medium {
    margin-bottom: 50px;
  }
}
.logoDetail {
  width: 220px;
  margin-bottom: 30px;
  @include medium {
    width: rem(180);
    margin-bottom: 20px;
  }
  &--error {
    text-align: center;
    margin-bottom: 10px;
  }
}
