@import '../core/Variables.scss';
@import '../core/Reset.scss';

.modal {
  width: 100%;
  height: 100vh;
  background: url('../../images/UNIVERSE-2.jpg') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  &__dialog {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    padding: 1rem;
    border-radius: 30px;
    border: solid 5px rebeccapurple;
    background-color: $brandColor-1;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media all and (max-width: $displayM) {
      min-width: 250px;
    }
  }

  &__header {
    align-self: flex-start;
  }

  &__img-error {
    width: 200px;
    padding-right: 10px;
  }

  &__img-src {
    padding-right: 10px;
    border-radius: 50%;
    box-shadow: 0 0 50px 0 rgba(252, 252, 252, 0.75);
  }

  &__text {
    padding: 20px;
    text-align: left;
    font-weight: 500;
    color: $paragraphColor;
  }

  &__text-error {
    padding: 20px;
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    color: $paragraphColor;
  }

  &__text--property {
    font-weight: 600;
  }
}

.icon {
  padding: 10px;
  width: 45px;
  height: 45px;
  text-align: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: $brandColor-4;
}
.iconDetail {
  margin-top: 250px;
  background-color: $brandColor-2;
}
