@import '../core/Variables.scss';

.error {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__text {
    padding: 0 rem(50) rem(10) rem(50);
    font-size: rem(26);
    font-weight: bold;
    color: $brandColor-1;

    @include medium {
      font-size: rem(22);
    }

    @include small {
      font-size: rem(12);
    }
  }

  &__image {
    width: 40vh;
  }
}
