@import '../core/Variables.scss';

.error {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__text {
    padding: 0 rem(50) rem(100) rem(50);
    font-size: rem(26);
    font-weight: bold;
    color: $brandColor-1;

    @include medium {
      font-size: rem(22);
    }

    @include small {
      font-size: rem(12);
    }
  }

  &__image {
    z-index: -1;
    width: 40vh;
    position: absolute;
    bottom: 0;

    @include medium {
      width: 35vh;
      bottom: 0;
    }
  }
}
.image2 {
  z-index: -2;
  width: 40vh;
  position: absolute;
  bottom: 5vh;
  @include medium {
    width: 40vh;
    bottom: 5vh;
  }
}
