// brand colors
$brandColor-1: violet;
$brandColor-2: #1c5ba3;
$brandColor-3: cyan;
$brandColor-4: aliceBlue;
$paragraphColor: black;
// fonts
$searchFont: 'Roboto', sans-serif;
// font size
$defaultFontSize: 16px;

// display
$displayM: 768px;
$displayS: 480px;
